Makefile
Makefile.old
*.tar.gz
*.bak
*.swp
pm_to_blib
blib/
SVG-Drawboard-*
SVG-Drawboard-*/
.releaserc
cover_db
firefox-versions/
chrome-versions/
MYMETA.*
frame-*.png
*.pl
.prove
.patch
moodboard/
db/
drawboard.conf
